[package]
name = "polytorus"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sha2 = "0.10.8"
rand = "0.8.4"
actix = "0.13.5"
actix-rt = "2.10.0"
actix-web = "4.9.0"
actix-web-actors = "4.3.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.64"
lazy_static = "1.4.0"
log = "0.4.22"
hex-literal = "0.4.1"
hex = "0.4"
k256 = "0.13.3"
primitive-types = "0.12.2"
uuid = { version = "1.10.0", features = ["v4", "serde"] }
bincode = "1.3.3"
itertools = "0.13.0"
num = "0.4.3"
num-complex = "0.4.6"
approx = "0.5.1"
rand_distr = "0.4.3"
sha3 = "0.10.8"
bit-vec = "0.8.0"
proptest = "1.5.0"
test-strategy = "0.4.0"
creusot-contracts = "0.2.0"
secp256k1 = {version = "0.29.1", features = ["rand", "hashes", "serde"]}
anyhow = "1.0.89"
libp2p = { version = "0.51", features = ["tcp", "mdns", "floodsub", "tokio"] }
futures = "0.3.30"
tokio-macros = { version = "0.2.0-alpha.6" }
tokio = { version = "1.28", features = ["full"] }
libp2p-swarm-derive = "0.35.0"
tokio-tungstenite = "0.24.0"
once_cell = "1.19.0"
sled = "0.34.7"
data-encoding = "2.6.0"
