name: Format by `cargo fmt`

on:
  push:
    branches: [ "develop", "feature/*" ]

permissions:
  contents: write

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # https://github.com/dtolnay/rust-toolchain
      - name: Install rust components
        uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: stable
          components: clippy, rustfmt

      - name: Format
        run: cargo fmt --all && cargo clippy --fix --allow-dirty

      - name: Commit
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add .
          git commit --author=. -m "format by actions" --allow-empty
          git push
