name: Test by `cargo test`

on:
  push:
    branches: ["develop", "feature/**", "fix/**"]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # https://github.com/dtolnay/rust-toolchain
      - name: Install rust components
        uses: dtolnay/rust-toolchain@56f84321dbccf38fb67ce29ab63e4754056677e0
        with:
          toolchain: stable

      - name: Cache rust components
        uses: Swatinem/rust-cache@9d47c6ad4b02e050fd481d890b2ea34778fd09d6

      - name: Test
        run: |
          export RUST_TEST_THREADS=${{ runner.cpus }}
